.panda-bg-light-salmon{
    background-color: #fceae8;
}
.panda-bg-light-orange{
    background-color: #ffa500;
}
.panda-bg-light-purple{
    background-color: #da70d6;
}
.panda-bg-dark-blue{
    background-color: #0000ff;
}
.panda-bg-sweet-red{
    background-color: #ff458f;
}

.catagories img{
    width: 100px;
}

.panda-btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
